table {
  width: 100%;
  border-collapse: collapse;
  cellpadding: "10";
}

th {
  text-align: left;
  background-color: #eee;
  padding: 0.5%;
}
td {
  padding: 0.5%;
}

table, th, td {
   border: 1px solid #bbb;
}

button {
  border-radius: 4px;
  color: white;
  background: #a6192e;
  border:none !important;
  box-shadow:none !important;
  width: 8%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-size: 63%;;
}

body {
  background-color: #a6192e;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.totalCell {
  padding: 0.5%;
  padding-top: 1%;
  padding-bottom: 0%;
}

#activity-text {
  color: #a6192e;
}

#content-wrapper {
  align-self: left;
  width: 80%;
}

#content {
  border: 1px solid #D2E1E6;
  border-radius: 2px;
  background-color: #E9EFF1;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  overflow: hidden;
}

#wrapper {
  align-self: center;
  background-color: white;
  border-radius: 2px;
  padding: 1%;
}
#my-buttons {
  text-align: right;
}
